body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.fa-compass{
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

/* footer */
.f-info{
    background-color: #7a7a7a60;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8rem;
    gap: 10px;
}
.f-info-links,
.f-info-socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}

/* Card styling */
.card{
    border: none  !important;
    margin-bottom: 2rem;

}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
    height: 20rem !important;
}

.card-body{
    padding: 0 !important;
    margin-top: 5px;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #ffff;
}

.revcross{
    left: 93%;
}